
<div id="_mainForm">
    <div class="time-regist">
        出社：
        <input type="text" name="shusha_time" class="time-input" value="10">:00 &nbsp;&nbsp;
        退社：
        <input type="text" name="taisha_time" class="time-input" value="19">:00 &nbsp;&nbsp;
        休憩：
        <input type="text" name="kyukei_start" class="time-input" value="13">:00 &nbsp; ~
        <input type="text" name="kyukei_end" class="time-input" value="14">:00 &nbsp;&nbsp;
        <button type="button" class="_addToCart" id="_auto_fill">Fill</button>
    </div>
    <div class="task-regist">
        <button type="button" id="_next_btn">次へ</button>
        <div class="div-time-input">
            <button type="button" id="_next_page">次へ</button>
            <button type="button" id="_not_yet_input">未入力へ</button>
            <button type="button" id="_check_first_15">最初15日選択</button>
            <button type="button" id="_check_all">全て選択</button>
        </div>
    </div>
	<!-- <button type="button" id="_next_log_time">Next</button> -->
</div>

<div id="_mainModal" style="display: none">

</div>
