.blocker{
	z-index: 9999999888888888888;
}
#_zzz{
	z-index: 99999999999999999999999;
	position: fixed;
    width: fit-content;
    right: 0px;
	height: 40px;
	/* background-color: white; */
	bottom: 0;
	/* box-shadow: 0 -1px 2px #B8B8B8; */
	/* background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQYV2NkQAJnzpz5zwjjgzgmJiaMYAEYB8RmROaABAD4hQ9oQLNSJQAAAABJRU5ErkJggg==) repeat; */
	text-align: center;
	padding-top: 5px;
}

#_zzz ._custom{
	display: none;
}


#_zzz #_time_input{
	height: 32px;
	width: 20%;
	padding: 0 5px;
	border: 1px solid #F9462C;
}

#_zzz #_auto_fill{
	height: 32px;
	padding: 0 5px;
	background-color: #FFF2E8;
    border: 1px solid #F9462C;
    cursor: pointer;
}

.time-input {
    width: 25px;
}

#_zzz #_check_all{
	height: 32px;
	padding: 0 5px;
	background-color: #FFF2E8;
	border: 1px solid green;
	color: rgb(226, 21, 21);
    font-weight: bold;
    cursor: pointer;
}

#_zzz #_next_log_time{
	height: 32px;
	padding: 0 5px;
	background-color: #FFF2E8;
	border: 1px solid blue;
	color: blue;
    font-weight: bold;
    cursor: pointer;
}

#_zzz #_cart_label{
	font-weight: bold;
	font-size: 20pt;
	color: #F9462C;
	line-height: 1;
}

#_zzz #_cart_label::after{
  content: " ₫";
}

.time-regist, .task-regist {
    padding: 5px;
    background: steelblue;
    border-radius: 5px;
}

#_zzz #_check_first_15 {
	height: 32px;
	padding: 0 5px;
	background-color: #FFF2E8;
	border: 1px solid green;
	color: rgb(20, 112, 148);
    font-weight: bold;
    cursor: pointer;
}

#_zzz #_not_yet_input {
	height: 32px;
	padding: 0 5px;
	background-color: #FFF2E8;
	border: 1px solid green;
	color: rgb(68, 11, 201);
    font-weight: bold;
    cursor: pointer;
}

#_zzz #_next_btn, #_next_page{
	height: 32px;
	padding: 0 5px;
	background-color: #FFF2E8;
	border: 1px solid green;
	color: green;
    font-weight: bold;
    cursor: pointer;
}